/node_modules/
/vendor/
/vendor_prefixed/
/ilabs-dev/setup/temp
/ilabs-dev/build
.idea
build-coverage
.DS_Store
.commit
composer.json.back
.browserslistrc

/assets/**/*.min.css
/assets/**/*.min.js
/ilabs-plugin-tools/*
/ilabs-plugin-tools/
/ilabs-plugin-tools_2/*
/ilabs-plugin-tools_2/
/ilabs-plugin-tools_3/
/blocks/node_modules/
